<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="orgLogin.css">
</head>
<body>

<div class="container">
        <header>
            <h1>EVENT MANAGEMENT</h1>
            <nav>
                           
                <a th:href="@{/orgReg}">Register</a>
                <a th:href="@{/orglogin}">Login</a>
            </nav>
        </header>
        <div class="form-container">
         <style>
        a {
            color: black; 
            text-decoration: none; 
        }
    </style>
            <div class="tab">
           <center>   <button> <a th:href="@{/custlogin}">Customer</a></button>
                   
                    <button> <a th:href="@{/orglogin}">Organizer</a></button></center> 
            </div>
<form th:action="@{/orgloginstatus}" th:object="${orghome}" method="post">
<label for="username">Enter Username</label>
<input type="text" placeholder="Username" name="username" th:field="*{username}">
<br>
<br>
<label for="password">Enter Password</label>
<input type="password" placeholder="Password" name="password" th:field="*{password}">
<br>
<br>

	
<input type="submit">

<a th:href="@{/orgReg}">New User? Register Here</a>
<p th:if="${param.error}">Enter Valid Details</p>

               
            </form>
        </div>
    </div>

</body>
</html>